<section class="media-spotlight">
  <h3>
    <span>Media Spotlight: </span>
    <span id="spotlight">
      <span><%= link_to @featured.title, work_path(@featured.id) %></span> by <%= @featured.creator %>
    </span>
  </h3>
  <p>
    <%= @featured.get_count %> votes - <%= @featured.description %>
  </p>
</section>
<section class="top-ten">
  <% @sorted.each do |groups| %>
  <article>
    <h2>Top <%= groups.first.category %>s</h2>
    <ul>
      <% groups.each do |type| %>
      <li>
        <div id="title"><%= link_to type.title, work_path(type.id) %></div>
        <small>by <%= type.creator %></small><br />
        <p>
          <%= type.upvotes.count %> votes
        </p>
      </li>
      <%end %>
    </ul>
  </article>
  <% end %>
</section>
