<h1>HOME PAGE</h1>
<p>
  (originally upvotes/index)
</p>
<!-- using limit and no sorting -->
<!-- consider adding a vote count to work -->

<section>
  <h2>Media Spotlight:  <%= @featured.title %> by <%= @featured.creator %></h2>
  <p>
    <%= @count %> votes - <%= @featured.description %>
  </p>
</section>

<section>
  <h2>Top Albums</h2>
  <% @albums.each do |item| %>
    <%= link_to item.title, work_path(item.id) %> By <%= item.creator %><br />
  <%end %>

  <h2>Top Books</h2>
    <% @books.each do |item| %>
      <%= link_to item.title, work_path(item.id) %> By <%= item.creator %><br />
    <%end %>

  <h2>Top Movies</h2>
    <% @movies.each do |item| %>
      <%= link_to item.title, work_path(item.id) %> By <%= item.creator %><br />
    <%end %>

</section>
