
<main>
    <h2>Add a new work</h2>
<section>
    <%= form_with model: @work do |f| %>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.select :category,[ 'album', 'book', 'movie' ],{ :include_blank => false },{:class=>"form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :creator %>
      <%= f.text_field :creator %>
    </div>
    <div class="form-group">
      <%= f.label :publication_year %>
      <%= f.text_field :publication_year %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="form-group">
      <%= f.submit submit_button_label, class: "form-button" %>
    </div>
    <% end %>
</form></section>
  </main>