<h1>All Media</h1>

<section>
  <h2>Albums</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
        <% @albums.each do |item| %>
        <tr>
        <td><%= link_to item.title, work_path(item.id) %></td>
        <td><%= item.creator %></td>
        <td><%= item.publication_year %></td>
        <td><%= button_to "Upvote", work_upvotes_path(item.id) %></td>
      </tr>
      <%end %>
    </tbody>
  </table>

  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
        <% @books.each do |item| %>
        <tr>
        <td><%= link_to item.title, work_path(item.id) %></td>
        <td><%= item.creator %></td>
        <td><%= item.publication_year %></td>
        <td><%= button_to "Upvote", work_upvotes_path(item.id) %></td>
      </tr>
      <%end %>
    </tbody>
  </table>

  <h2>Movies</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
        <% @movies.each do |item| %>
        <tr>
        <td><%= link_to item.title, work_path(item.id) %></td>
        <td><%= item.creator %></td>
        <td><%= item.publication_year %></td>
        <td><%= button_to "Upvote", work_upvotes_path(item.id) %></td>
      </tr>
      <%end %>
    </tbody>
  </table>

</section>
