<section>
  <h3 id="green-head"><%= @work.title %></h3>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication_year %></p>
  <% if @work.description %>
    <p>Description: <%= @work.description %></p>
  <% end %>
  <a class="button" href="/works">Back to Media ranks</a>
  <a class="button" href="/works/<%="#{@work.id}"%>/edit">Edit</a>
  <% if @user %>
    <a class="button" rel="nofollow" data-method="post" href="/works/<%="#{@work.id}"%>/upvotes">Upvote</a>
    <a class="alert button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/works/<%="#{@work.id}"%>">Delete</a>
  <% end %>
</section>
<section>
  <h3 id="green-head"><%= @work.get_count %> vote(s) for this <%= @work.category.downcase %></h3>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        <% @work.upvotes.each do |item| %>
        <tr>
        <td><%= link_to item.user.username, user_path(item.user.id) %></td>
        <td><%= item.vote_date %></td>
      </tr>
      <%end %>
    </tbody>
  </table>
</section>
