<h1>User Summary: <%= @user.username %></h1>
<p>Joined site <%= @user.join_date.to_formatted_s(:long)  %></p>
<p>
  <table>
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
        <% @user.upvotes.each do |item| %>
        <tr>
        <td><%= link_to item.work.title, work_path(item.work.id) %></td>
        <td><%= item.work.creator %></td>
        <td><%= item.work.publication_year %></td>
        <td><%= item.work.category %></td>
        <td><%= item.vote_date.to_formatted_s(:long) %></td>
      </tr>
      <%end %>
    </tbody>
  </table>
</p>
