<%= image_tag "owl_media_ranker.jpg" %>
<h1> <a href="#">Media Ranker</a></h1>
<p>Ranking the Best of Everything<p>

<!-- the top ten of each category is displayed on this page -->

<table>
<tr>
  <th>Top Movies</th>
</tr>
<% @movies[0..9].each do |movie| %>
    <tr>
      <td><%= movie.name %></td>
      <td><%= "Ranking: " + (movie.rankings == nil ? "nil" : "notnil") %></td>
     <!-- place link to view each movie here -->
    </tr>
  <% end %>
  <!-- place link to view ALL movies here -->
</table>

<table>
<tr>
  <th>Top Books</th>
</tr>
<% @books[0..9].each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= "Ranking: " + (book.rankings == nil ? "nil" : "notnil") %></td>
     <!--  <td><%# book.ranking %> -->
      <!-- <td><%# link_to 'View book!', book_show_path(book[:id]) %></td> -->
    </tr>
  <% end %>
</table>

<table>
<tr>
  <th>Top Albums</th>
</tr>
<% @albums[0..9].each do |album| %>
    <tr>
      <td><%= album.name %></td>
      <td><%= "Ranking: " + (album.rankings == nil ? "nil" : "notnil") %></td>
      <!-- <td><%# album.ranking %> -->
      <td><%#link_to 'View album!', album_show_path(album[:id]) %></td>
    </tr>
  <% end %>
</table>