<%= image_tag "owl_media_ranker.jpg" %>
<h1> <a href="#">Media Ranker</a></h1>
<p>Ranking the Best of Everything<p>

<!-- the top ten of each category is displayed on this page -->
<!-- TODO jm-rives dry this up at some point, partials mebe? -->
<section>
  <h1>Top Movies</h1>
  <ul>
    <% @first_10_movies.each do |movie| %>
    <li><%= movie.name + " Ranked:" + movie.rankings.to_s %> </li>
    <% end %>
  </ul>
  <%= link_to 'View more Movies', books_index_path(@books) %>
</section>

<section>
  <h1>Top Books</h1>
  <ul>
    <% @first_10_books.each do |book| %>
    <li><%= book.name + " Ranked:" + book.rankings.to_s %> </li>
    <% end %>
  </ul>
  <%= link_to 'View more Books', books_index_path(@books) %>
</section>

<section>
  <h1>Top Albums</h1>
  <ul>
    <% @first_10_albums.each do |album| %>
    <li><%= album.name + " Ranked:" + album.rankings.to_s %> </li>
    <% end %>
  </ul>
  <%= link_to 'View more Albums', albums_index_path(@albums) %>
</section>
 