<h3><%= @song.name %></h3>
<h4><%= @song.auteur %></h4>
<h5>Ranked: <%= @song.score%></h5>
<p><%= @song.description %></p>

<%= button_to "Upvote", upvote_song_path, method: :patch %>

<%= link_to "Edit #{@song.name}", edit_song_path(@song), method: :get %>

<%= button_to "Delete", song_path(@song), data: {confirm: "Are you sure?"}, method: :delete %>
<a href='/songs'>View All Songs</a>
<a href='/'>View All Media</a>
