<section class='row'>
  <h2><%= "All #{params[:controller]}" %></h2>
</section>

<section class='row title'>
  <%= link_to("View all media", "/", {method: :get, class: 'buttons'} ) %>
  <%= link_to("New #{params[:controller][0..-2]}", {controller: params[:controller], action: "new"}, {method: :get, class: 'buttons'}) %>
</section>


<ul class='index-ul row'>
  <% @items.each do |item| %>
      <li><%= link_to("#{item.name}", {controller: params[:controller], action: "show", id: item })%><%= ": #{item.votes} votes" %><%= link_to("Upvote", {action: "upvote", id: item}, {method: :patch, class: 'buttons'}) %></li>
    </p>
  <% end %>
</ul>
