<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @medium.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @medium.name %>
</p>

<p>
  <strong>Auteur:</strong>
  <%= @medium.auteur %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medium.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @medium.score %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
