<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h2>
        <a href="/">Media Ranker</a>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav>
        <a class="button" href="/">View top media</a>
        <a class="button" href="/works">View all media</a>
        <a class="button" href="/works/new">Add a new work</a>
        <a class="button" href="/users">View all users</a>
          <div class="float-right">
            <% if @user %>
            <a class="button" href="/users/<%="#{@user.id}"%>"><%= "Logged in as #{@user.username}" %></a>
            <a class="button" rel="nofollow" data-method="delete" href="/login">Log Out</a>
            <% else %>
            <a class="button" href="/login">Log In</a>
            <% end %>
          </div>
      </nav>
    </header>
    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <section class="callout <%= name %>">
            <% if name == "alert" %>
            <ul>
              <% flash.each do |field, message| %>
                <li>
                <strong><%= field %>: </strong>
                  <%= message %>
                </li>
                <% end %>
            </ul>
            <% else %>
            <p>
              <%= message %>
            </p>
          <% end %>
          </section>
          <% end %>
      </section>
      <section>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
