<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Media Ranker" %></title>
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h2>
        <%= link_to "Media Ranker", root_path %>
        <small>Ranking the Best of Everything</small>
      </h2>
      <nav>
        <%= link_to "View top media", root_path, class: "button" %>
        <%= link_to "View all media", works_path, class: "button" %>
        <%= link_to "Add a new work", new_work_path, class: "button" %>
        <%= link_to "View all users", users_path, class: "button" %>
        <div class="float-right">
        <% if session[:user_id] != nil %>
            <%= link_to "Logged in as #{User.get_username(session[:user_id])}" , user_path(session[:user_id]), method: :get, class: "button"%>
            <%= link_to "Log Out", logout_path, method: :delete, class: "button" %>
        <% else %>
            <%= link_to "Log In", login_path, class: "button" %>
        <% end %>
        </div>
      </nav>
    </header>
    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
          <section class="callout <%= name %>">
            <% if name == "alert" %>
            <ul>
              <% flash.each do |field, message| %>
                <li>
                <strong><%= field %>: </strong>
                  <%= message %>
                </li>
                <% end %>
            </ul>
            <% else %>
            <p>
              <%= message %>
            </p>
          <% end %>
          </section>
          <% end %>
      </section>
      <section>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
